{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <base href="/">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
	
	<!-- Hammer JS -->
	<script type="text/javascript" src="/{{ base_path ~ directory }}/lib/hammer.js"></script>	
	
	<link href="/{{ base_path ~ directory }}/assets/normalize.css" rel="stylesheet" />
	<link href="/{{ base_path ~ directory }}/css/global-style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.0.8/gridlex.min.css">
	<link href="/{{ base_path ~ directory }}/styles.5e847171cda1414e1f21.bundle.css" rel="stylesheet" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102096592-1"></script>
  
  
  <!-- cookie js --> 
  <script>


<!-- Global site tag (gtag.js) - Google Analytics -->
window.dataLayer = window.dataLayer || [];
function gtag()
{dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-102096592-1');




</script>
<style>
#toasterLightbox{
    position: fixed;
    bottom: 0;
    width: 90%;
    z-index: 10;
    padding: 2% 5%;
    background: #000;
font-size: 12px;
    text-align: center;
}
#toasterlbclose{
    display: block;
    text-align: right;
}
.accept-button{
display:block;
text-align:center;
margin-top:10px;
}
#toasterLightbox .accept-button a{
display: inline-block;
    text-align: center;
    padding: 10px;
    background: #cda866;
    color: #fff;
    text-transform: uppercase;
cursor:pointer;
}
#toasterLightbox .accept-button a:hover{
	color: #1d1a15;
    background: #fff;
}
#toasterLightbox a{
color: #cda866;
}
</style>
  <!-- cookie js end -->
  
  <!-- external scripts js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script>
    function addScript(path) {
      console.log('Adding external script on head..');
      var head = document.getElementsByTagName("head")[0];
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.src = path;
    
    var headScripts = jQuery('head script');
    
    for (var j = headScripts .length; j--;) {
    
    if(headScripts[j].src == path )
    {
    console.log(headScripts[j].src); console.log(path); 
    console.log('present');
    jQuery('script[src*="'+path+'"]').remove();
    head.appendChild(s);
    
    }
    else{
    head.appendChild(s);
    }
    }
      
    }
    
    function loadExternalScripts(){
      console.log('external script loading..');
      var newsBodyScripts = jQuery('.news-content__news-body.full-content script');
      for (var i = newsBodyScripts.length; i--;) {
        var externalUrl = newsBodyScripts[i].src;
        addScript(externalUrl);
      }
    }
    
    function urlChange(){
      console.log('url change called');
      var pathname = window.location.pathname;
      newsDetail = pathname.split('/');
      if(newsDetail[1] == 'news' && newsDetail[2] != undefined){
        console.log('url matched news detail, loading script with a 5s timeout');
        setTimeout(function(){
          loadExternalScripts();
        },2000);
      }
    }
    
    window.addEventListener("load", function load(event){
      loadExternalScripts();
      
      jQuery(window).click(function() {
        urlChange();
      });
    },false);
    </script>
  <!-- external scripts js end -->
	 <script>digitalData={}</script>
   <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700,800,900" rel="stylesheet">
  <!--script src="https://assets.adobedtm.com/31543e7db99435a92d6f4a2cf97c808672ed7dd0/satelliteLib-b6e3529c31d92a9252c30c1714b6b9342304145b.js"></script-->
  	<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
	<script>
	  var googletag = googletag || {};
	  googletag.cmd = googletag.cmd || [];
	</script>
  </head>
  <body{{ attributes.addClass(body_classes) }}> 
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>  
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
	
    <script type="text/javascript" src="/{{ base_path ~ directory }}/inline.9239597dc16f004d4742.bundle.js"></script>
	<script type="text/javascript" src="/{{ base_path ~ directory }}/polyfills.a1caea498784565b0fff.bundle.js"></script>	
	<script type="text/javascript" src="/{{ base_path ~ directory }}/vendor.fdbc3a25579d1fd69106.bundle.js"></script>
    <script type="text/javascript" src="/{{ base_path ~ directory }}/main.ff43dceb6fd4f1a919b1.bundle.js"></script>
	
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <!-- facebook Like Starts 
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=190235525095218&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
	  
    <!-- facebook Like Ends -->
  </body>
</html>