{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
	node_type|clean_class == "page" ? 'landing-page',
	node_type|clean_class != "page" ? 'detail-page',
	path_info.args ? 'page-node-' ~ path_info.args,
	path_info.args ? 'page-node-id-' ~ path_info.args,
    db_offline ? 'db-offline',
  ]
%}  
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <base href="/">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">	
	
	<script src="https://use.typekit.net/evo1rml.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
	<title>Widgets Magazine</title> 
	<style type="text/css" media="screen"> 
	</style>

	<!-- Shopify JS -->
	<script src="https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js"></script>
	
	<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
	<script>
	  var googletag = googletag || {};
	  googletag.cmd = googletag.cmd || [];
	</script>

	<!-- FIRST AD -->
	<script>
	googletag.cmd.push(function() {
    googletag.defineSlot('/21664395848/coolaccidents_ROS/coolaccidents_TEST', [300, 250], 'div-gpt-ad-1512352393612-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
	});
	</script>
	<!-- SECOND AD -->
	<script>
	googletag.cmd.push(function() {
    googletag.defineSlot('/21664395848/coolaccidents_ROS/coolaccidents_TESTPOS2', [300, 250], 'div-gpt-ad-1512352479775-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
	});
	</script>


	<!-- Hammer JS -->
	<script type="text/javascript" src="/{{ base_path ~ directory }}/lib/hammer.js?"></script>
	<script type="text/javascript">
		var digitalData = {
			settings : {
				reportSuites : "wmg,wmgau,wmgcoolaccidents.com"
			},
			page : {
				pageInfo : {
					pageName : "Warner Music Australia",
					server : "Warner Music Australia:Site",
					platform : "Drupal 8"
				},
				category : {
					primaryCategory : "",
					pageType : ""
				}
			},
			content : {
				artist : "Cool Accidents",
				label:"Warner Music International",
				sublabel: "Warner Music Australia"
			}
		};
	</script>
	<script src="//assets.adobedtm.com/31543e7db99435a92d6f4a2cf97c808672ed7dd0/satelliteLib-b6e3529c31d92a9252c30c1714b6b9342304145b.js"></script>
	<!--link rel="stylesheet" href="maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"-->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/gridlex/2.0.9/gridlex.min.css">
	<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/18283877-cebd-41e3-9ad6-7ba7a09c8bb8.css?1"/>
	<link href="/{{ base_path ~ directory }}/assets/normalize.css" rel="stylesheet" />
	<link href="/{{ base_path ~ directory }}/css/global-style.css" rel="stylesheet" />
	<link href="/{{ base_path ~ directory }}/styles.3c98b0af2fd34d91f229.bundle.css" rel="stylesheet" />

    
  </head>
  <body{{ attributes.addClass(body_classes) }}>
	  <script>
		// START twttr initialization
		window.twttr = (function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0],
		  t = window.twttr || {};
		  if (d.getElementById(id)) return t;
		  js = d.createElement(s);
		  js.id = id;
		  js.src = "https://platform.twitter.com/widgets.js";
		  fjs.parentNode.insertBefore(js, fjs);
		
		  t._e = [];
		  t.ready = function(f) {
			t._e.push(f);
		  };
		
		  return t;
		}(document, "script", "twitter-wjs"));
		// END twttr initialization
	  </script>
	<!--
	  <ol>
	  {% for key, value in _context  %}
		<li>{{ key }}</li>
	  {% endfor %}
	</ol>
	-->
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}	
	
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
    <script type="text/javascript" src="/{{ base_path ~ directory }}/inline.400b2591f31be0c3f2b9.bundle.js"></script>
    <script type="text/javascript" src="/{{ base_path ~ directory }}/polyfills.7f6e7f1b78a6dfe21571.bundle.js"></script>
	<script type="text/javascript" src="/{{ base_path ~ directory }}/vendor.1ccb29804904fcf6386b.bundle.js"></script>
	<script type="text/javascript" src="/{{ base_path ~ directory }}/main.05e0a8de176c9e1f49d6.bundle.js"></script>
	<script>_satellite.pageBottom();</script>
</html>
