{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <base href="/">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
	
	<!-- Hammer JS -->
	<script type="text/javascript" src="/{{ base_path ~ directory }}/lib/hammer.js"></script>	
	
	<link href="/{{ base_path ~ directory }}/assets/normalize.css" rel="stylesheet" />
	<link href="/{{ base_path ~ directory }}/css/global-style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.0.8/gridlex.min.css">
	<link href="/{{ base_path ~ directory }}/styles.8c5c916fd3744fafb1b2.bundle.css?765" rel="stylesheet" />
	<script>digitalData={}</script>
	<script src="http://assets.adobedtm.com/31543e7db99435a92d6f4a2cf97c808672ed7dd0/satelliteLib-b6e3529c31d92a9252c30c1714b6b9342304145b.js"></script>
	<script type="text/javascript" src="https://libraries.wmgartistservices.com/pplightbox/lightbox.js"></script>
	<link rel="stylesheet" type="text/css" href="https://libraries.wmgartistservices.com/pplightbox/lightbox-light.css"/>
	  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/197cef7a-7277-4650-bcf6-6e2356e560b4.css"/>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="//libraries.wmgartistservices.com/cookieplugin/cookie.js"></script>
  <link rel="stylesheet" type="text/css" href="//libraries.wmgartistservices.com/cookieplugin/cookie-dark.css" />
	
	{% if _context.is_angular %}
		
		{% include "@mattcorby/css-library.twig" %}
		
		{% if _context.is_staging %}
		
		{% include "@mattcorby/staging-code.twig" with {'code': 'css'} %}
		
		{% else %}
		
		{% include "@mattcorby/production-code.twig" with {'code': 'css'} %}
		
		{% endif %}
		
    {% endif %}
	
  </head>
  <body{{ attributes.addClass(body_classes) }}>
  
  
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
	
	<script type="text/javascript" src="/{{ base_path ~ directory }}/inline.c5abadaf52741099bbf2.bundle.js"></script>
	<script type="text/javascript" src="/{{ base_path ~ directory }}/polyfills.a50d0ff116d12d98d4f4.bundle.js"></script>
	<script type="text/javascript" src="/{{ base_path ~ directory }}/vendor.859e759807b1a1f14e9b.bundle.js"></script>
	<script type="text/javascript" src="/{{ base_path ~ directory }}/main.9254b541fceee68fec7d.bundle.js"></script>
		
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
  {% if _context.is_angular %}		
		
		{% if _context.is_staging %}
		
		{% include "@mattcorby/staging-code.twig" with {'code': 'js'} %}
		
		{% else %}
		
		{% include "@mattcorby/production-code.twig" with {'code': 'js'} %}
		
		{% endif %}	

	{% endif %}	
</html>
