{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <base href="/">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
	
	<!-- Hammer JS -->
	<script type="text/javascript" src="/themes/custom/mattcorby/lib/hammer.js"></script>	
	
	<link href="/themes/custom/mattcorby/assets/normalize.css?cache=v1.0" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.0.8/gridlex.min.css">
	<link href="/themes/custom/mattcorby/assets/style.css?cache=v5.0" rel="stylesheet" />
       <script src="https://use.typekit.net/ajy3tuh.js"></script>
       <script>try{Typekit.load({ async: true });}catch(e){}</script>
	     <script>digitalData={}</script>
  <script src="http://assets.adobedtm.com/31543e7db99435a92d6f4a2cf97c808672ed7dd0/satelliteLib-b6e3529c31d92a9252c30c1714b6b9342304145b.js"></script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>   
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
	
	Original Location {{ base_path ~ directory }}
	
	<img src="{{ base_path ~ directory }}/images/logo.png" alt="My Logo" />
	
    <script type="text/javascript" src="/themes/custom/mattcorby/inline.46243f36f2099366ed34.bundle.js?v1.0"></script>	
	<script type="text/javascript" src="/themes/custom/mattcorby/vendor.1a37022ce5d76e3a0ec1.bundle.js?v2.0"></script>
    <script type="text/javascript" src="/themes/custom/mattcorby/main.ffd0af6bb1d772f8c2fe.bundle.js?v1.0"></script>
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
